* {
  font-family: Poppins;
}

body {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  background-color: #000000;
  color: white;
  padding-top: 37px;
  padding-bottom: 21.66px;
}
header .header__container {
  margin: 0 64.41px 0 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header__container .header__logo {
  font-size: 29px;
  text-transform: uppercase;
  font-weight: bold;
}
header .header__container .header__menu-case {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header__container .header__menu-case .header__menu-case__menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
}
header .header__container .header__menu-case .header__menu-case__menu li {
  margin-right: 88px;
}
header .header__container .header__button {
  background-color: #FA9021;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 13px;
  padding: 10px 27px;
  line-height: 20px;
}
header .header__container .header__button:hover {
  background-color: #ab5900;
}

main {
  background: linear-gradient(black, #4A2800);
}
main .home-page {
  padding-bottom: 157px;
}
main .home-page .home-page__mini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .home-page .home-page__mini .home-page__content {
  padding-top: 96px;
}
main .home-page .home-page__mini .home-page__content .home-page__game-dev {
  color: #FA9021;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}
main .home-page .home-page__mini .home-page__content .home-page__game-dev__title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  max-width: 479.63px;
  margin-top: 17px;
  margin-bottom: 26px;
}
main .home-page .home-page__mini .home-page__content .home-page__description {
  color: white;
  font-weight: medium;
  max-width: 480px;
  margin-bottom: 50px;
}
main .home-page .home-page__mini .home-page__content .home-page__details-button {
  padding: 15px 30px;
  background-color: #FA9021;
  color: white;
  border-radius: 40px;
  border: none;
  margin-bottom: 89px;
  padding: 15px 31px;
  font-size: 16px;
}
main .home-page .home-page__mini .home-page__content .home-page__details-button:hover {
  background-color: #ab5900;
}
main .home-page .home-page__games-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 89px;
  margin-bottom: 58px;
}
main .home-page .home-page__games-title .home-page__games-title__title {
  font-size: 31px;
  color: white;
  display: inline-block;
}
main .home-page .home-page__games-title .home-page__games-title__button {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.11);
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  height: 57px;
}
main .home-page .home-page__games-title .home-page__games-title__button:hover {
  background-color: rgba(255, 255, 255, 0.35);
}
main .home-page .home-page__posters {
  display: grid;
  gap: 25px 47px;
  text-align: center;
  grid-template-columns: repeat(4, 251px);
  grid-template-rows: 277px 41px;
  color: white;
  font-size: 22px;
  font-weight: medium;
  margin-bottom: 129px;
}
main .home-page .home-page__text {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 67px;
}
main .home-page .home-page__subtitle {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 32px;
}
main .home-page .home-page__info {
  font-size: 16px;
  color: white;
  max-width: 545px;
  margin-bottom: 46px;
}
main .activities {
  background-image: url("./imgs/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 93px;
  padding-bottom: 92px;
}
main .activities .activities__title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto 25px auto;
  max-width: 826px;
}
main .activities .activities__info {
  color: white;
  font-size: 16px;
  max-width: 820px;
  margin: 0 auto 99px auto;
  text-align: center;
}
main .activities .activities__pictures {
  color: white;
  font-size: 16px;
  font-weight: medium;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1045px;
  gap: 62px 100px;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
main .progects {
  padding-top: 141px;
  text-align: center;
  padding-bottom: 163px;
}
main .progects .progects__title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
main .progects .progects__description {
  margin: 0 auto 71px;
  color: white;
  max-width: 497px;
  font-size: 14px;
}
main .progects .progects__imgs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 33px 27px;
  margin: 0 auto 72px auto;
}
main .progects .progects__button {
  width: 139px;
  height: 57px;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.11);
  color: white;
  font-size: 20px;
  font-weight: medium;
  border: none;
  margin-bottom: 105px;
}
main .progects .progects__button:hover {
  background-color: rgba(255, 255, 255, 0.35);
}
main .progects .progects__subtitle {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: start;
}
main .progects .progects__text {
  color: white;
  width: 545px;
  text-align: start;
  margin-bottom: 73px;
}
main .progects .progects__box {
  background-color: #1C140F;
  border-radius: 15px;
  padding: 40px 50px 46px 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main .progects .progects__box .progects__box__subscribe__title {
  color: white;
  text-align: start;
  font-size: 30px;
  font-weight: medium;
}
main .progects .progects__box .progects__box__subscribe__txt {
  color: white;
  max-width: 545px;
  text-align: start;
}
main .progects .progects__box__email-form {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  width: 385.68px;
  height: 48px;
}
main .progects .progects__box__email-form .progects__box__email-input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
}
main .progects .progects__box__email-form .progects__box__continue-button {
  background-color: #DC7000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
}
main .progects .progects__box__email-form .progects__box__continue-button:hover {
  background-color: #ab5900;
}

footer {
  background-color: #070707;
  padding-bottom: 60px;
}
footer .footer__footer-container {
  max-width: 1219px;
  margin: 0 auto;
  padding-top: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footer__footer-container .footer__logo {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
footer .footer__footer-container .footer__contact {
  display: flex;
  gap: 16px;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 975px;
  }
  .home-page__spider-man {
    width: 975px;
  }
  .activities__pictures {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 975px;
    gap: 50px 65px;
  }
  .progects__imgs .progects__imgs__img1 {
    width: 300px;
    height: 180px;
  }
  .progects__imgs .progects__imgs__img2 {
    width: 280px;
    height: 180px;
  }
  .progects__imgs .progects__imgs__img3 {
    width: 200px;
    height: 180px;
  }
  .progects__imgs .progects__imgs__img4 {
    width: 330px;
    height: 180px;
  }
  .progects__imgs .progects__imgs__img5 {
    width: 350px;
    height: 180px;
  }
  .progects__box__subscribe__txt {
    max-width: 480px;
  }
  .progects__box__email-form {
    width: 330px;
  }
  .footer__footer-container {
    max-width: 1006px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 806px;
  }
  .home-page__game-dev__title {
    font-size: 32px;
  }
  .home-page__joystick {
    height: 500px;
    width: 370px;
  }
  .home-page__spider-man {
    width: 805px;
  }
  .activities__pictures {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 805px;
    gap: 35px 40px;
  }
  .progects__imgs .progects__imgs__img1 {
    width: 250px;
    height: 180px;
  }
  .progects__imgs .progects__imgs__img2 {
    width: 250px;
    height: 180px;
  }
  .progects__imgs .progects__imgs__img3 {
    width: 180px;
    height: 150px;
  }
  .progects__imgs .progects__imgs__img4 {
    width: 280px;
    height: 150px;
  }
  .progects__imgs .progects__imgs__img5 {
    width: 290px;
    height: 150px;
  }
  .progects__box__subscribe__txt {
    max-width: 250px;
  }
  .progects__box__email-form {
    width: 190px;
  }
  .footer__footer-container {
    max-width: 838px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 624px;
  }
  .home-page__game-dev__title {
    font-size: 24px;
  }
  .home-page__joystick {
    height: 400px;
    width: 250px;
  }
  .home-page__spider-man {
    width: 624px;
  }
  .activities__pictures {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 624px;
    gap: 20px 25px;
  }
  .progects__imgs .progects__imgs__img1 {
    width: 180px;
    height: 110px;
  }
  .progects__imgs .progects__imgs__img2 {
    width: 180px;
    height: 110px;
  }
  .progects__imgs .progects__imgs__img3 {
    width: 160px;
    height: 110px;
  }
  .progects__imgs .progects__imgs__img4 {
    width: 180px;
    height: 110px;
  }
  .progects__imgs .progects__imgs__img5 {
    width: 200px;
    height: 110px;
  }
  .progects__box__subscribe__title {
    font-size: 20px;
  }
  .progects__box__subscribe__txt {
    max-width: 180px;
  }
  .progects__box__email-form {
    width: 120px;
  }
  .footer__footer-container {
    max-width: 649px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 624px;
  }
  .home-page__game-dev__title {
    font-size: 24px;
  }
  .home-page__joystick {
    height: 400px;
    width: 250px;
  }
  .home-page__spider-man {
    width: 624px;
  }
  .activities__pictures {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 624px;
    gap: 20px 25px;
  }
  .progects__imgs .progects__imgs__img1 {
    width: 180px;
    height: 110px;
  }
  .progects__imgs .progects__imgs__img2 {
    width: 180px;
    height: 110px;
  }
  .progects__imgs .progects__imgs__img3 {
    width: 160px;
    height: 110px;
  }
  .progects__imgs .progects__imgs__img4 {
    width: 180px;
    height: 110px;
  }
  .progects__imgs .progects__imgs__img5 {
    width: 200px;
    height: 110px;
  }
  .progects__box__subscribe__title {
    font-size: 20px;
  }
  .progects__box__subscribe__txt {
    max-width: 180px;
  }
  .progects__box__email-form {
    width: 120px;
  }
  .footer__footer-container {
    max-width: 649px;
  }
}/*# sourceMappingURL=style.css.map */